<footer class="footer">
  <div class="cont">
    <a href="./index.html" class="logo">
      <img src="./images/logo.svg" alt="" />
    </a>
    <nav class="navbar">
      <a href="./about-us.html">About Us</a>
      <a href="./job-search.html">Job Board</a>
      <a href="./insights.html">Insights Hub</a>
      <a href="./meet-the-team.html">Meet the team</a>
      <a href="./contact-us.html">Contact Us</a>
    </nav>
    <div class="bottom-info">
      <p>© 2022 Metamorfosi Agency</p>

      <navbar class="navbar">
        <a href="./terms.html">Terms</a>
        <a href="./cookies.html">Cookies</a>
        <a href="./policy.html">Privacy policy</a>
      </navbar>
    </div>

    <a
      href="https://www.boldidentities.com/"
      target="_blank"
      id="bold-credits"
      class="my-4"
    >
      <img src="./images/BOLD-logo-white.gif" alt="">
    </a>
  </div>
</footer>
