<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
  />
  <link rel="icon" type="image/x-icon" href="./images/logo.svg" />
  <title><%- locals.title %></title>

  <!-- Icomoon -->
  <link
    rel="stylesheet"
    href="https://i.icomoon.io/public/a83f6fe7cf/Gulpstartproject20/style.css"
  />

  <!-- normalize -->
  <link href="./css/plugins/normalize.css" type="text/css" rel="stylesheet" />

  <!--Jquery UI-->
  <link href="./css/plugins/jquery-ui.min.css" type="text/css" rel="stylesheet" />

  <!--Swiper-->
  <link href="./css/plugins/swiper-bundle.min.css" type="text/css" rel="stylesheet" />

  <link href="./css/tailwind.css" type="text/css" rel="stylesheet" />

  <link href="./css/style.css" type="text/css" rel="stylesheet" />
</head>
