<div id="popup">
    <div id="popup-close-bg" class="popup__close-bg" onclick="closePopup();"></div>
    <div id="popup-block" class="popup__block">
        <!-- old-popup-styles, pos-t, pos-r, pos-b, pos-l, full-height -->
        <!-- slide-t, slide-r, slide-b, slide-l -->
        <span class="popup__btn-close" onclick="closePopup();" title="Close">
            <span class="cross-clip"></span>
        </span>
        <div class="popup__container">
            <h3 class="popup__title"></h3>

            <div id="popup-content" class="popup__content">
                <!-- YOUR CONTENT HERE -->
            </div>
        </div>
    </div>
</div>
